*{
    box-sizing: border-box;
    font-family: 'Cultive Mono', monospace;
    overflow: auto;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(0,0,0);
    color: blanchedalmond;
}

header h1{
    font-size: 70px;
    text-align: center;
}

header h1:hover{
    color:turquoise;
}

nav{
    width: 100%;
    margin: auto;
}

a {
    /*font-family: 'Amatic SC', cursive;*/
    font-size: larger;
    text-decoration: none;
    color:cyan;
}

ul, ol, li {
    list-style: none;
}

ul{
    display:flex;
    flex-wrap: wrap;
    padding: 0;
}

li{
    text-align: center;
    border: 1px solid antiquewhite;
    width: fit-content;
    padding: 10px;
    margin: 5px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Permanent Marker', cursive;
}

article{
    display: flex;
    flex-direction: column;
}

figure{     
    border: 2px solid antiquewhite;    
    margin: auto;
    padding: 0;

}

img{ 
    margin: 10px;
}

form {
    color: rgb(1, 230, 255);
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid rgb(1, 230, 255);;
    border-radius: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
}