*{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Cormorant Unicase', serif; font-size: 28;
}

nav{
    background-color: rgba(238, 130, 238, 0.42);
    width: 80%;
    text-align: center;
}

a {
    text-decoration: none;
    color:cyan;
}

#link_home{
    /*text-align: center;*/
}

form {
    color: rgb(1, 230, 255);
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid rgb(1, 230, 255);;
    border-radius: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
