*{
    box-sizing: border-box;
    display: inline;
    font-family: 'Cultive Mono', monospace;
}

body{
    width: 100%;
    background: rgb(0,0,0);
    /*background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(172,2,2,1) 65%, rgba(92,0,134,1) 79%);*/
    color: blanchedalmond;
}

nav{
    background-color: rgba(238, 130, 238, 0.42);
    width: 80%;
    text-align: center;
}

a {
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    text-decoration: none;
    color:cyan;
}

ul{
    display:flex;
}

li{
    text-align: center;
    border: 1px solid antiquewhite;
    padding: 3px;
    margin: 2px;
}

#link_home{
    /*text-align: center;*/
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Permanent Marker', cursive;
}

figure{
    margin: 0 auto;
}

form {
    color: rgb(1, 230, 255);
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid rgb(1, 230, 255);;
    border-radius: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
}