*{
    padding: 0;
    margin: 0;
    overflow: auto;
}

body{    
    font-family: 'Cultive Mono', monospace;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(0,0,0);
    color: blanchedalmond;
    font-family: 'Goudy Bookletter 1911', serif;
}

h1,h2,h3{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: turquoise;
}

#topo{
    display: flex;
    flex-direction: row;
    align-items: center;    
    height: 40px;
    margin-bottom: 10px;
}

.topo_fig{
    float: left;
    width: 10%;
    height: 40px;    
    margin: 0;

}

header nav{
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

header ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

header li{
    margin: 5px;
}

header a{
    text-decoration: none;
    font-family: monospace;
    color: blanchedalmond;
}

header a:hover{
    color: purple;
}

.topo_titulo{
    justify-content: center;
}

hr{
    margin: 1px 30px;
    background: purple;
}

.headerCorpo{
    width: 93%;
    background: linear-gradient(45deg, purple, turquoise);
    border-radius: 10px;
}

article{
    margin: 10px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card{    
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid purple;
    padding: 10px;
    margin: 5px;
}


section article figure{
    width: 100%;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

p{
    text-align: justify;
    margin: 0;
    padding: 0;
}

footer{
    border: 5px solid yellow;
}